<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/cadastrar.css"> 
    <title>Cadastrar</title>
</head>
<body>
    <div class="page">
        <form id="filmeForm" method="POST" class="formCadastro"> 
            <h1>Cadastro de Filmes</h1>
            <p>Digite os dados do filme no campo abaixo</p>
            <label for="nome">Nome do Filme</label>
            <input type="text" id="nome" placeholder="Digite o nome do filme" autofocus="true" /> 
            <label for="duracao">Duração(em minutos)</label>
            <input type="number" id="duracao" placeholder="Digite a duração do filme" /> 
            <label for="ano">Ano de Lançamento</label>
            <input type="number" id="ano" placeholder="Digite o ano de lançamento do filme" /> 
            <label for="genero">Gênero do Filme</label>
            <input type="text" id="genero" placeholder="Digite o gênero do filme" /> 
            <br>
            <input type="submit" value="Cadastrar" class="btn" />
        </form>
        <div id="mensagemCadastro" style="display: none;">Cadastrado com sucesso!</div>
    </div>

    <script src="../js/cadastrar.js"></script>
</body>
</html>
