<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/listar.css"> 
    <title>Lista de Filmes</title>
</head>
<body>
    <div class="page" class="formLista">
        <form id="filmeForm" class="formLista">
            <h1>Lista de Filmes</h1>
            <ul id="lista-filmes">
                <!-- Lista de filmes será inserida aqui -->
            </ul>
            <a href="cadastrar.html" class="btn btn-primary mt-3">Voltar para Cadastro</a>
        </form>

        <!-- Novo botão para voltar para a tela de cadastro -->
       
    </div>

    <script src="../js/listar.js"></script>
</body>
</html>
