.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #FF0018, #FFA52C, #FFFF41, #008018, #0000F9, #86007D);
  }
  
  .formLista {
    display: flex;
    flex-direction: column;
    width: 300 px;
    height: 300 px;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px
  }
  
                                                                                                              
  .formLista h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
  }

  #atualizar-filme-form {
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

#atualizar-filme-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

#atualizar-filme-form input[type="text"],
#atualizar-filme-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#atualizar-filme-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#atualizar-filme-form button:hover {
    background-color: #0056b3;
}

#mensagem-erro,
#mensagem-sucesso {
    color: #fff;
    background-color: #dc3545; 
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: none; 
}

#mensagem-sucesso {
    background-color: #28a745; 
    font-size: large;
}
#imagem {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}
