.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #FF0018, #FFA52C, #FFFF41, #008018, #0000F9, #86007D);
}

.formLista,
#editar-filme-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    /* border-radius: 7px; */
    padding: 40px;
    /* box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4); */
    max-width: 500px; /* Defina um limite máximo de largura para evitar que ultrapasse os limites da tela */
    width: 100%;
     box-sizing: border-box; /*Inclua padding e bordas na largura e altura totais */
}

.formLista h1,
#editar-filme-form h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLista p,
#editar-filme-form p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLista input,
#editar-filme-form input[type="text"],
#editar-filme-form input[type="number"] {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.formLista input:focus,
#editar-filme-form input[type="text"]:focus,
#editar-filme-form input[type="number"]:focus {
    border: 1px solid #f72585;
}

.formLista label,
#editar-filme-form label {
    font-size: 14px;
    font-weight: 600;
}

.formLista a,
#editar-filme-form a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLista a:hover,
#editar-filme-form a:hover {
    color: #f72585;
}

.btn,
#editar-filme-form button {
    background: linear-gradient(90deg, #ff0019a3, #ffa42ca4, #ffff4193, #00801792, #0000f98e, #86007d97);
    padding: 1rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    color: #080101;
    text-transform: uppercase;
    font-style: oblique;
    font-weight: 900;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.btn:hover,
#editar-filme-form button:hover {
    transform: scale(1.05);
    background-color: #ff0676;
}

#mensagem-erro,
#mensagem-sucesso,
#mensagemCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d6d0d3;
    background-color: #1f1818;
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px; /* Adicionado padding para melhor aparência */
    border-radius: 5px; /* Adicionado border-radius para melhor aparência */
}

#mensagem-erro {
    background-color: #dc3545; 
}

#mensagem-sucesso {
    background-color: #28a745; 
}
